/* index */
/* carousel */
.banner-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  width: 300%;
  animation: slide 15s infinite;
}

.carousel-item {
  flex: 0 0 33.33%; /* Divide equally for each item */
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
}

@keyframes slide {
  0% { transform: translateX(0); }
  20% { transform: translateX(0); }
  25% { transform: translateX(-33.33%); }
  55% { transform: translateX(-33.33%); }
  60% { transform: translateX(-66.66%); }
  90% { transform: translateX(-66.66%); }
  95% { transform: translateX(0); }
  100% { transform: translateX(0); }
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}


/* Projects */
.projectSection {
  background-color: var(--bg-color, lightgray);
  color: var(--color, white);
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 2em;
}

.projectSection .projectTitle {
  font-size: 2em;
}

.projectSection .projectItems {
  display: flex;
  justify-content: space-between;
  align-items: flex;
  flex-wrap: wrap;
}

.projectSection .projectItems .projectItem {
  width: var(--wd, 30%);
  margin-bottom: 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

.projectSection .projectItems .projectItem .projectItemTitle {
  font-size: 1.5em;
  text-align: center;
}

.projectSection .projectItems .projectItem .projectItemImage {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.projectSection .projectItems .projectItem .projectItemDescription{
  font-size: 1em;
  font-style: italic;
}


/* about me */
.aboutSection {
  margin-bottom: 2em;
  position: relative;
}

.aboutSection .aboutItems{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.aboutSection .aboutItems .aboutItem {
  width: 30%;
  margin-bottom: 20px;
}

.aboutSection .aboutItems .aboutItem .aboutItemImage {
  width: 100%;
  height: auto;
  transform: rotate(0deg)
}


.aboutSection .aboutItems .aboutItem .fold {
  padding: 10px;
  position: absolute;
  left: 0;
  width: 100%; /* Full-width */
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* Hide the checkbox */
.aboutSection .aboutItems .aboutItem .unfolder {
  display: none;
}

/* Label for the toggle */
.aboutSection .aboutItems .aboutItem .toggle-label {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
}

/* Icon visibility */
.aboutSection .aboutItems .aboutItem .unfold-icon, .fold-icon {
  color: #999;
  width: 10px;
  display: inline-block;
  padding-right: 20px
}

.aboutSection .aboutItems .aboutItem .unfolder ~ .fold {
  display: none;
}

.aboutSection .aboutItems .aboutItem .unfolder:checked ~ .fold {
  display: block;
}

.aboutSection .aboutItems .aboutItem .unfolder:checked ~ label .fold-icon {
  display: inline-block;
}

.aboutSection .aboutItems .aboutItem .unfolder ~ label .fold-icon {
  display: none;
}

.aboutSection .aboutItems .aboutItem .unfolder ~ label .unfold-icon {
  display: inline-block;
}

.aboutSection .aboutItems .aboutItem .unfolder:checked ~ label .unfold-icon {
  display: none;
}

/* end about me */